.withTextBtn {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius:10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

.withTextBtn svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}
